/* Document: CSS style sheet */

html {
    color: black;
    background-color: rgb(183, 236, 253);
}
body {
    overflow: auto;
    margin: 0;
}
#bignav {
    margin: 0;
    background-color: rgb(170, 170, 170);
    padding: 0;
    overflow-anchor: auto;
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#name {
    float: left;
    margin-bottom: 0;
}
#topLeft {
    padding-left: 10px;
}
.link {
    display: inline;
    margin: 0;
    padding: 20px;
    float: right;
}
.clearfix {
    overflow: auto;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: white;
}
#mainHeader {
    text-align: center;
}
.imgContainer {
    position: relative;
}
.homePic {
    width: 100%;
}
.bigValue {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
    font-weight: bold;
    font-style: normal;
}
.container {
    width: 80%;
    margin: 0 auto;
}